body{
  font-size: 62.5%;
  background-image: url('./space-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1, h3{
  margin: 0;
  margin-block-end: 0.5%;
  margin-block-start: 0.25%;
}

h3{
  font-size: 2rem;
  font-weight: 600;
}

.App {
  text-align: center;
}

input[type=date]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=date] {
  background: url('./styles/gnome-calendar.png') 97% 75% no-repeat;
}

input[type=date]::-webkit-calendar-picker-indicator {
  width: 5%;
  opacity: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
